body{
   
   background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #f6f5f5;
    font-family: arial,sans-serif;

}
form {
    animation: pulse;
    animation-duration: 2s;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color:#d5d6de;
    background-attachment: fixed;
    background-size: cover;
    border: 4px solid #d5d6de;
    border-radius: 5px;
   
}
legend{
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    font-size: 110%;
}

.p{
    margin-top: 20px;
}

/* Estilos para los fieldsets */
fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #330033;
    border-radius: 5px;
    justify-content: center;
    
}
textArea{
    margin-bottom: 15px;
}


/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 100%;
    font-weight: bold;
}

/* Estilos para los elementos de entrada de texto y select */
input[type="text"],
select {
    width: 80%;
    padding: 5px;
    font-size:95%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color:  #999999;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    border: 1px solid #ccc;
    font-size: 125%;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1px;
}

/* Cambio de color del botón de enviar al pasar el cursor sobre él */
input[type="submit"]:hover {
    background-color: #330033;
    margin-bottom: 20px;
    background-color:  #999999;
    border-radius: 5px;
}
fieldset legend{
    background-color: #bebce4;
    border-radius: 5px;
    color: black;
    font-size: 125%;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    

}
