body {
    font-family: Arial, sans-serif;
    
    background-size: cover;
    background-position: center;
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
    
}


form {
  animation: pulse;
    animation-duration: 2s;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #bebce4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

